@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.contact {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
}

.contact-input {
  background-color: #ffff;
  box-shadow: 1px 1px rgb(216, 216, 216);
  border: 1px solid rgb(216, 216, 216);
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
  margin-bottom: 20px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  background-color: #111727;
  color: #ffff;
  align-self: flex-end;
}

.navbar {
  background-color: #f4f3f3;
  height: 65px;
}

.div-navbar {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

.navbar-link {
  font-size: 20px;
}

.navbar-link a {
  color: black;
  text-decoration: none;
}

.navbar-link a:hover {
  color: rgb(12, 70, 52);
}

.contact-nav {
  position: absolute;
  right: 100px;
  top: 14px;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  color: white;
  background-color: #111727;
}

.contact-nav a {
  color: white;
  text-decoration: none;
}
