@import url('https://fonts.cdnfonts.com/css/poppins');

* {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
}

.outer-box {
  background-color: #fafafa;
  border: 1px solid #fafafa;
  width: 800px;
  height: 400px;
  margin: 90px auto;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 1px 2px #cfd3d6;
}

.images-profile {
  background-color: #ffff;
  border: 1px solid #e4dfdf;
  position: absolute;
  right: 20%;
  padding: 10px;
  border-radius: 15px;
}

.img {
  width: 300px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.main-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 10px;
  text-align: justify;
}

.contact {
  display: flex;
  height: 50px;
  padding-top: 20px;
  gap: 20px;
  align-items: center;
}

.btn-contact {
  border-radius: 20px;
  width: 80px;
  height: 30px;
  color: white;
  background-color: #111727;
}

.btn-contact a {
  color: white;
  text-decoration: none;
}

.download-cv {
  align-items: center;
  text-align: center;
  justify-items: center;
}

.navbar {
  background-color: #f4f3f3;
  height: 65px;
}

.div-navbar {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

.navbar-link {
  font-size: 20px;
}

.navbar-link a {
  color: black;
  text-decoration: none;
}

.navbar-link a:hover {
  color: rgb(12, 70, 52);
}

.contact-nav {
  position: absolute;
  right: 100px;
  top: 14px;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  color: white;
  background-color: #111727;
}

.contact-nav a {
  color: white;
  text-decoration: none;
}

.icon {
  display: flex;
  width: 30%;
  text-align: center;
  padding-top: 40px;
  margin-left: 0px;
  gap: 2px;
}
