@import url('https://fonts.cdnfonts.com/css/poppins');

* {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #f4f3f3;
  height: 65px;
}

.div-navbar {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

.navbar-link {
  font-size: 20px;
}

.navbar-link a {
  color: black;
  text-decoration: none;
}

.navbar-link a:hover {
  color: rgb(12, 70, 52);
}

.contact-nav {
  position: absolute;
  right: 100px;
  top: 14px;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  color: white;
  background-color: #111727;
}

.contact-nav a {
  color: white;
  text-decoration: none;
}

.judul {
  text-align: center;
  font-size: larger;
  padding-top: 12px;
}

/* form */
.form-project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.projectInput {
  display: flex;
  background-color: #ffff;
  width: 102%;
  box-shadow: 1px 1px rgb(216, 216, 216);
  border: 1px solid rgb(216, 216, 216);
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
  margin-bottom: 20px;
}

.description {
  display: flex;
  position: relative;
  bottom: 30px;
  background-color: #ffff;
  width: 102%;
  box-shadow: 1px 1px rgb(216, 216, 216);
  border: 1px solid rgb(216, 216, 216);
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
  margin-bottom: 20px;
}

.Startdate {
  display: flex;
  height: 38px;
  width: 50%;
  justify-items: end;
  background-color: #ffff;
  box-shadow: 1px 1px rgb(216, 216, 216);
  border: 1px solid rgb(216, 216, 216);
  padding: 10px;
  border-radius: 5px;
  justify-content: end;
  margin-bottom: 20px;
}

.Enddate {
  position: relative;
  bottom: 58px;
  left: 115px;
  height: 38px;
  width: 50%;
  justify-items: end;
  background-color: #ffff;
  box-shadow: 1px 1px rgb(216, 216, 216);
  border: 1px solid rgb(216, 216, 216);
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
  margin-bottom: 20px;
}

.input-form-image {
  display: flex;
  position: relative;
  top: 10px;
  right: 2px;
  justify-content: end;
  width: 98%;
  font-size: 20px;
  font-weight: 300;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  cursor: pointer;
}

.input-form-image label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose{
  position: absolute;
  font-size: 15px;
  right: 79.8%;
  width: 75px;
  height: 25px;
  text-align: center;
  border: 1px;
  background-color: #E4E4E4;
  border-color: black;
  color: #B2ABAB;
  border-radius: 5px;
  
}

.empty{
  position: absolute;
  right: 78.9%;
  width: 79px;
  height: 40px;
  border-radius: 8px;
  background-color: #E4E4E4;
}

.nodejs{
  position: relative;
  bottom: 25px;
}

.reactjs{
  position: relative;
  right: 87px;
}

.nextjs{
  position: relative;
  bottom: 25px;
}

.typescript{
  position: relative;
  right: 80px;
}

.outer-box{
  background-color: #ffff;
  box-shadow: 1px 1px #EAEAEA;
  border: 1px solid #ffff;
  margin: 40px 10px;
  height: 450px;
  width: 500px;
}

.img{
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  top: 20px;
  left: -30px;
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

.title{
  position: relative;
  top: 20px;
  left: 70px;
  color: #111727;
  text-decoration: none;
}

.times{
  position: relative;
  color: #979292;
  font-size: 13px;
  top: 20px;
  left: 70px;
  text-decoration: none;
}

.desc{
  position: relative;
  font-size: 15px;
  top: 35px;
  left: 70px;
  width: 400px;
  color: #111727;
  text-decoration: none;
}

.icon{
  position: relative;
  top: 30px;
  left: 58px;
  width: 30px;
  margin: 10px;
}

.btn-list{
  position: relative;
  top: 55px;
  right: 103px;
  margin: 10px;
  width: 70px;
  background-color: #111727;
  color: white;
  border-radius: 20px;
  text-decoration: none;
}

.submit {
  display: flex;
  position: relative;
  left: 270px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  background-color: #111727;
  color: #ffff;
}
