<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Iqbal Pradipta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/testimonial.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"); * { font-family: "Poppins", sans-serif; text-decoration: none; } .btn-dark { background-color: #111727; border: 1px solid #111727; }
      .btn-dark:hover { background-color: #000000; border: 1px solid #111727; } .border-white { background-color: #fafafa; box-shadow: 0px 0px 4px -1px rgba(107, 107, 107, 0.75); } .btn-rating { color: #f5f5f6; background-color: #111727;
      width: 40px; }
    </style>
  </head>

  <body style="background-color: #e1e5e9">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand ms-3">
          <img src="assets/image/brandred.png" alt="dumbwaysID" width="80px" height="55px" />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active ms-2" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-3" href="myproject.html">Add Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-3" href="testimonial.html">Testimonial</a>
            </li>
          </ul>
          <form class="d-flex" role="button">
            <button class="btn btn-dark me-5" type="button">Contact Me</button>
          </form>
        </div>
      </div>
    </nav>
    <!-- End Of Navbar -->

    <!-- main content -->
    <div class="text-center fw bold">
      <h1 class="display-6">My Testimonial</h1>
    </div>
    <!-- Rating Area -->
    <div class="text-center fw bold mt-sm-3">
      <h3>Rating By Star</h3>
    </div>
    <div class="text-center mt-sm-3 mb-sm-3">
      <button class="btn-rating" onclick="AllReview()">All</button>
      <button class="btn-rating" onclick="FilterReview(1);">1 <i class="fa-solid fa-star" style="color: #ffffff"></i></button>
      <button class="btn-rating" onclick="FilterReview(2);">2 <i class="fa-solid fa-star" style="color: #ffffff"></i></button>
      <button class="btn-rating" onclick="FilterReview(3);">3 <i class="fa-solid fa-star" style="color: #ffffff"></i></button>
      <button class="btn-rating" onclick="FilterReview(4);">4 <i class="fa-solid fa-star" style="color: #ffffff"></i></button>
      <button class="btn-rating" onclick="FilterReview(5);">5 <i class="fa-solid fa-star" style="color: #ffffff"></i></button>
    </div>
    <!-- End Of Rating -->
    <div class="content" id="testimonial">
      <!-- Javascript HTML -->
    </div>
    <!-- End of Main content -->

    <script src="/assets/js/nav.js"></script>
    <script src="/assets/js/testimonial.js"></script>
  </body>
</html>