* {
  font-family: Arial, Helvetica, sans-serif;
}

.outer-box {
  background-color: #fafafa;
  border: 1px solid #fafafa;
  width: 900px;
  height: 400px;
  margin: 70px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 1px 2px #cfd3d6;
}

.images-profile{
  background-color: #f8f5f5;
  border: 1px solid #f8f5f5;
  position: absolute;
  right: 22%;
  padding: 10px;
  border-radius: 15px;
}

.img{
  width: 300px;
}

.main-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: justify;
}

.contact{
  display: flex; 
  height: 50px;
  /* margin: 20px 10px;  */
  gap: 20px;
  align-items: center;
}


.btn-contact{
  border-radius: 20px;
  width: 80px;
  height: 30px;
  background-color: #111727;
  color: #ffff;
}

.download-cv{
  align-items: center;
  text-align: center;
  justify-items: center;
}
